
/* Body */
body {
  font-family: "Open Sans", sans-serif;
  color: #000000dd;
  overflow-x: hidden;
}

a{
  color: #ea1010;
  text-decoration: none !important;
}

a:hover {
  color: #f23b3b;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: rgb(0, 0, 0);
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #ff0000;
  border-top-color: #e2eefd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 2s linear infinite;
  animation: animate-preloader 1s linear infinite;
}
.disppear{
  animation: vanish 1s forwards;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #ff00007e;
  color: #000000;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: rgb(255, 255, 255);
  line-height: 0;
}

.back-to-top:hover {
  background: #ff0000;
  color: rgb(255, 255, 255);
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: rgb(255, 255, 255);
  transition: all 1s;
  z-index: 997;
  height: 100px;
  box-shadow: 0px 2px 15px rgba(155, 152, 152, 0.689);
}
#header.fixed-top{
  height: 75px;
}
#header .logo {
  padding-left: 25px;
  font-weight: 650;
  letter-spacing: 0.4px;
  font-family: "Poppins", sans-serif;
}

#header .logo a {
  font-size: 30px;
  color: #000000;
}

#header .logo a span {
  color: #ea1010;
}

#header .logo img {
  height: 43px;
}

.scrolled-offset {
  margin-top: 70px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin-left: 260px ;
  padding: 0;
  display:flex; 
  list-style: none;
  /* align-items: center; */
}
.counting{
  padding-right: 50px;
}
.navbar>ul>li {
  white-space: nowrap;
  padding: 30px 20px 10px 40px;
  /* padding: 66.5px 12px 10px 40px; */
}

.navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3px;
  font-size: 16px;
  font-weight: 550;
  color: #000000 ;
  transition: 0.3s;
  position:relative;
}

.navbar a i,
.navbar a:focus i {
  font-size: 14px;
  line-height: 0;
  margin-left: 5px;
  padding-top: 7px;
}

.navbar>ul>li>a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: #ea1010;
  visibility:hidden;
  width: 0px;
  transition: all 0.25s ease-in-out 0s;
}

/* ===Start=== */
.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible;
  width: 100%;
 
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #ea1010;
}
/* ===End=== */

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 30px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 15px 0px;
  z-index: 997;
  opacity: 0;
  /* visibility: hidden; */
  background: rgba(255, 255, 255, 0.947);
  box-shadow: 0px 0px 30px rgba(176, 180, 188, 0.97);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-weight: 400;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover {
  color: #ea1010;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}


/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #222222;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 500px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(9, 9, 9, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #222222;
}

.navbar-mobile>ul>li {
  padding: 0;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover>a:before,
.navbar-mobile .active:before {
  visibility: hidden;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #106eea;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #106eea;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Banner Section
--------------------------------------------------------------*/
#banner {
  /* width: 100%; */
  height: 100vh;
  /* background-color: #ffffff; */
  background: url("../../img/bg/finalbg.jpg");
  background-size: cover;
  position:relative;
  
}

#banner h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #000000;
  font-family: "Poppins", sans-serif;
}

#banner h1 span {
  color: #2c0000;
}


#banner h2 {
  color: #000000;
  margin: 5px 0 30px 0;
  font-size: 24px;
  font-weight: 400;
}

#banner .d-flex {
  line-height: 22px;
}


/* Button */

.d-flex .btn {
  border: none ;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  overflow: hidden;
  position: relative;
  color: rgb(255, 255, 255) ;
  font-weight: bolder;
  font-size: 16px;
  background-color: rgba(255, 0, 0, 0.865) !important;
  padding: 10px 25px ;
  width: 170px;
  height: fit-content;
  box-shadow: 0 5px 15px rgba(116, 105, 105, 0.2);
  text-align: center;
 
}


.btn span {
  position: relative; 
  z-index: 1;
  margin: 0px;
}

.btn:after {
  content: ">>>";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  color: rgb(0, 0, 0) ;
  background: #ffffff;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg); 
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
 
}
 


/*  */


.btn span {
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '>>';
  color: rgb(0, 0, 0) !important;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  color: black !important;
  padding-right:30px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
} 



@media (min-width: 1024px) {
  #banner {
    background-attachment: fixed;

  }
}

@media (max-width: 768px) {
  #banner {
    height: 100vh;
  }

  #banner h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #banner h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #banner .btn{
    font-size: 13px;
  }
}

@media (max-height: 500px) {
  #banner {
    height: 120vh;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow:hidden;
}

.section-bg {
  background-color: #5757580b; }

  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #ff0000;
  }
  
  .section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }
  
  .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #ff0404;
    bottom: 0;
    left: calc(50% - 20px);
  }
  
  .section-title p {
    margin-bottom: 0;
  }

.section-title h3 span {
  color: #ea1010;
}

.section-title p {
  margin: 15px auto 0 auto;
  font-weight: 600;
}

@media (min-width: 1024px) {
  .section-title p {
    width: 50%;
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 20px 0;
  background-color: #000000;
  min-height: 40px;
}

.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}

@media (max-width: 992px) {
  .breadcrumbs h2 {
    margin: 0 0 10px 0;
  }
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #000000;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Featured Services
--------------------------------------------------------------*/

.method{
  font-family: 'Roboto', sans-serif;
   font-size: 27px;
   text-align: center;
   
}

.featured-services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}

.featured-services .icon-box::before {
  content: "";
  position: absolute;
  background: #cbe0fb;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.3s;
  z-index: -1;
}

.featured-services .icon-box:hover::before {
  background: #000000;
  top: 0;
  border-radius: 0px;
}

.featured-services .icon {
  margin-bottom: 15px;
}

.featured-services .icon i {
  font-size: 48px;
  line-height: 1;
  color: #000000;
  transition: all 0.3s ease-in-out;
}

.featured-services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.featured-services .title a {
  color: rgb(0, 0, 0);
}

.featured-services .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

.featured-services .icon-box:hover .title a,
.featured-services .icon-box:hover .description {
  color: #fff;
}

.featured-services .icon-box:hover .icon i {
  color: rgb(255, 0, 0);
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 35px;
}

.about .content ul li:first-child {
  margin-top: 35px;
}

.about .content ul i {
  background: rgba(255, 255, 255, 0);
  /* box-shadow: 0px 6px 15px rgba(203, 188, 188, 0.591); */
  font-size: 24px;
  padding: 20px;
  margin-right: 10px;
  color: #ea1010;
  padding-bottom: 30px;
  border-radius: 10px;
}

.about .content ul h5 {
  font-size: 18px;
  color: #000000;
}

.about .content ul p {
  font-size: 15px;
}

.about .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #222222;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #e2eefd;
  height: 10px;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #af2b06;
}
/* 
.col-lg-6 .group img{
  padding-left: 25px;
  width: 750px;
  height: 40vh;
} */

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  padding: 70px 0 60px;
}

.counts .count-box {
  padding: 30px 30px 25px 30px;
  width: 100%;
  position: relative;
  text-align: center;
  background: #e6e3e345;
}

.counts .count-box i {
  position: absolute;
  top: -28px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  background: #ffffffcc;
  color: rgb(255, 0, 0);
  width: 56px;
  height: 56px;
  line-height: 0;
  border: 5px solid #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.counts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #000000;
}

.counts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: rgb(0, 0, 0);
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients {
  padding:  20px 0;
  text-align: center;
  background-color:#81808008;
  ;
}

.clients img {
  max-width: 50%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 45px 0;
}

.clients img:hover {
  transform: scale(1.5);
}

@media (max-width: 768px) {
  .clients img {
    max-width: 70%;
  }
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  text-align: center;
  border: 1px solid #fde2e2;
  padding: 80px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
  border-radius: 15px;
}

.services .icon-box .icon {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  background: #f1f6fe;
  border-radius: 10px;
  border: 1px solid #deebfd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transition: ease-in-out 0.3s;
}

.services .icon-box .icon i {
  color: #000000;
  font-size: 28px;
  transition: ease-in-out 0.3s;
}

.services .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.services .icon-box h4 a {
  color: #222222;
  transition: ease-in-out 0.3s;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.301);
}

.services .icon-box:hover h4 a{
  color: #380303;
}
.services .icon-box:hover .icon i {
  color: #ff0000;
}

.services .icon-box:hover .icon {
  border-color: #ff0000;
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials {
  padding: 80px 0;
  background: url("./wallpaperflare.com_wallpaper\ \(15\).jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.testimonials::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}

.testimonials .section-header {
  margin-bottom: 40px;
}

.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}

.testimonials .testimonial-item {
  text-align: center;
  color: #fff;
}

.testimonials .testimonial-item .testimonial-img {
  width: 100px;
  border-radius: 50%;
  border: 6px solid rgba(255, 255, 255, 0.15);
  margin: 0 auto;
}

.testimonials .testimonial-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #fff;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #ddd;
  margin: 0 0 15px 0;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: rgba(255, 255, 255, 0.4);
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
  color: #eee;
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ea1010;
}

@media (min-width: 992px) {
  .testimonials .testimonial-item p {
    width: 80%;
  }
}
.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 2px 15px rgba(65, 76, 100, 0.06);
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.team .member .social {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 40px;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
  background: rgba(255, 255, 255, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
}

.team .member .social a {
  transition: color 0.3s;
  color: #414c64;
  margin: 0 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.team .member .social a i {
  line-height: 0;
}

.team .member .social a:hover {
  color: #fd0000;
}

.team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

.team .member .member-info {
  padding: 25px 15px;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #414c64;
}

.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #16090988;
}

.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #0c06068e;
}

.team .member:hover .social {
  opacity: 1;
}
/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing .box {
  padding: 20px;
  background: rgba(255, 255, 255, 0.813);
  text-align: center;
  box-shadow: 0px 0px 4px rgba(92, 4, 4, 0.34);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.pricing .box h3 {
  font-weight: 400;
  margin: -20px -20px 20px -20px;
  padding: 20px 15px;
  font-size: 16px;
  font-weight: 600;
  color: #060000;
  background: #f8f8f8;
}

.pricing .box h4 {
  font-size: 36px;
  color: #ea1010;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.pricing .box h4 sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}

.pricing .box h4 span {
  color: #bababa;
  font-size: 16px;
  font-weight: 300;
}

.pricing .box ul {
  padding: 0;
  list-style: none;
  color: #444444;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

.pricing .box ul li {
  padding-bottom: 16px;
}

.pricing .box ul i {
  color: #000000;
  font-size: 18px;
  padding-right: 4px;
}

.pricing .box ul .na {
  color: #ccc;
  text-decoration: line-through;
}

.pricing .btn-wrap {
  margin: 20px -20px -20px -20px;
  padding: 20px 15px;
  background: #f8f8f8;
  text-align: center;
}

.pricing .btn-buy {
  background: #00000067;
  display: inline-block;
  padding: 8px 35px 10px 35px;
  border-radius: 4px;
  color: #fff;
  transition: none;
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  transition: 0.3s;
}

.pricing .btn-buy:hover {
  background: #a30606;
}

.pricing .featured h3 {
  color: rgb(0, 0, 0);
  background: #0d5df1;
}


.pricing .advanced {
  width: 200px;
  position: absolute;
  top: 18px;
  right: -68px;
  transform: rotate(45deg);
  z-index: 1;
  font-size: 14px;
  padding: 1px 0 3px 0;
  background: #ffd900;
  color: rgb(255, 255, 255);
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.contact{
  margin-bottom: -60px;
  background-color: rgba(143, 140, 140, 0);
}

/******** FOOTER ***********/
/**************************/
ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
  background-color: #9c9a9a14 !important;
 position: relative;
}
.footer-cta {
border-bottom: 1px solid #373636;
}
.single-cta i {
color: #ff1414;
font-size: 30px;
float: left;
margin-top: 8px;
}
.cta-text {
padding-left: 15px;
display: inline-block;
}
.cta-text h4 {
color: rgb(0, 0, 0);
font-size: 20px;
font-weight: 600;
margin-bottom: 2px;
}
.cta-text span {
color: #000000;
font-size: 15px;
}

.footer-widget{
  /* padding-left: 30px; */
}
.footer-content {
position: relative;
z-index: 2;
}
.footer-pattern img {
position: absolute;
top: 0;
left: 0;
height: 330px;
background-size: cover;
background-position: 100% 100%;
}
.footer-text h2{
  line-height: 1em;
}


@media(max-width:510px) {
  .footer-text h2{
    line-height: 0.5em;
  }

}
.footer-logo {
margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
margin-bottom: 14px;
font-size: 14px;
color: #000000;
line-height: 28px;
}
.footer-social-icon span {
color: rgb(0, 0, 0);
display: block;
font-size: 20px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
margin-bottom: 20px;
}
.footer-social-icon a {
color: rgb(0, 0, 0);
font-size: 16px;
margin-right: 15px;
}
.footer-social-icon i {
height: 40px;
width: 40px;
text-align: center;
line-height: 38px;
border-radius: 50%;
}
.facebook-bg{
background: #ff0000;
}
.twitter-bg{
background: #ff0000;
}
.google-bg{
background: #ff1e00;
}
.footer-widget-heading h3 {
color: rgb(0, 0, 0);
font-size: 20px;
font-weight: 600;
margin-bottom: 40px;
padding-right: 100px;
position: relative;
margin-left: 120px;
}

.footer-widget-heading h3::before {
content: "";
position: absolute;
left: 0;
bottom: -15px;
height: 2px;
width: 50px;
background: #ff0000;
}
.footer-widget ul li {
display: inline-block;
float: left;
width: 50%;
margin-bottom: 12px;
}
.footer-widget ul li a:hover{
color: #ff1414;
}
.footer-widget ul li a {
color: #000000;
text-transform: capitalize;
}


.subscribe-form {
position: relative;
overflow: hidden;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
  }
  .subscribe-form input {
  width: 100%;
  padding: 14px 20px;
  background: #ffffff;
  border-radius: 15px;
  border: 1px solid #080000;
  color: rgb(0, 0, 0);
  }
  .subscribe-form button {
    position: absolute;
    right: 0;
    background: #000000;
    padding: 10px 20px;
    border-radius: 15px;
    border: 1px solid #000000;
    top: 0;
  }
  .subscribe-form button i {
  color: rgb(0, 0, 0);
  font-size: 22px;
  transform: rotate(-6deg);
  }

  
.copyright-area{
background: rgba(186, 185, 185, 0.71);
padding: 6px 0;
}
.copyright-text p {
margin: 0;
font-size: 14px;
color: #000000;
}
.copyright-text p a{
color: #000000;
}
.footer-menu li {
  padding-top: 10px;
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
color: #ff0000;
}
.footer-menu li a {
font-size: 14px;
color: #000000;
}
.copyright-area .row{
  padding-right: 500px !important;
}